// flex相关
.flex {
  display: -moz-box; /*firefox*/
  display: -ms-flexbox; /*IE10*/
  display: -webkit-box; /*Safari*/
  display: -webkit-flex; /*Chrome*/
  display: flex;
  display: flexbox;
  display: flex;
}

.flex1 {
  flex: 1;
}

.flex-item-center {
  align-items: center;
}

.flex-x-between{
  flex-direction:row;
  justify-content: space-between;
}

.flex-x-nowrap {
  flex-flow:  row nowrap;
}

.flex-y-between{
  flex-direction:column;
  justify-content: space-between;
}


.flex-y-center {
  flex-direction:column;
  justify-content: center;
}